{% extends "core.html" %}

{%block body%}
<div class = 'list'>
  <div style="background-color: rgb(37, 35, 35); height: 50px;" class="nav">
    <h1 id= "test">Accesories</h1>
    <form class="d-flex" role="search" action="{% url 'search_ace'%}">
      <a  href = "{% url 'ace_repo'%}" id="rep"><h6>Report</h6></a>
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name = 'query'>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Sl.No.</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Last_maintenance</th>
            
          </tr>
        </thead>
        <tbody>
          {%for i in data%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{i.name}}</td>
        <td>{{i.qauntity}}</td>
        <td>{{i.maintenance}}</td>
        <!--<td><a href="{%url 'ace_delete' i.id%}"><button class="btn btn-primary">Delete</button></a></td>-->
        
      </tr>
      {%endfor%}
          
        </tbody>
      </table>
      
    </div>
    
{%endblock body%}
{%block footer%}
<div class='footer'>
  <div class="pagination">
    {% if data.has_previous %}
    <a href="?p={{data.previous_page_number}}" class="previous">&laquo; Previous</a>
    {% endif %}
    <span class="current">{{data.number}}</span>
    {% if data.has_next %}
      <a href="?p={{data.next_page_number}}" class="next">Next &raquo;</a>
    {% endif %}
  </div>
  </div>

<div class="navbar custom-dark-bg border-bottom border-body" data-bs-theme="dark">
  
  <span id = 'bt' ><a href = "{% url 'main'%}"><button class="btn btn-primary">Back</button></a></span>
  <span id = 'bt' ><a href = "{% url 'add_ace'%}"><button class="btn btn-primary">Add</button></a></span>
   <span id = 'bt' ><a href = "{% url 'logout'%}"><button class="btn btn-primary">logout</button></a></span>
</div>

{%endblock footer%}